/* &:nth-of-type(1) {
              background: url(../img/tata.png) no-repeat;
            }
            &:nth-of-type(2) {
              background: url(../img/binoli.png) no-repeat;
            }
            &:nth-of-type(3) {
              background: url(../img/bks.png) no-repeat;
            }
            &:nth-of-type(4) {
              background: url(../img/gu.png) no-repeat;
            }
            &:nth-of-type(5) {
              background: url(../img/hlx.png) no-repeat;
            }
            &:nth-of-type(6) {
              background: url(../img/apcoa.png) no-repeat;
            }
            &:nth-of-type(7) {
              background: url(../img/leonberg.png) no-repeat;
            }
            &:nth-of-type(8) {
              background: url(../img/pcwelt.png) no-repeat;
            }
            &:nth-of-type(9) {
              background: url(../img/apcoa.png) no-repeat;
            }
            &:nth-of-type(10) {
              background: url(../img/apcoa.png) no-repeat;
            }
            &:nth-of-type(11) {
              background: url(../img/apcoa.png) no-repeat;
            }
            &:nth-of-type(12) {
              background: url(../img/apcoa.png) no-repeat;
            } */