html,
body {
  height: 100%;
}
#head {
  z-index: 9999;
  background: #ffffff !important;
}
#head .headMain {
  position: relative;
  width: 1100px;
  height: 80px;
  margin: 0 auto;
}
#head .headMain .logo {
  float: left;
  margin-top: 30px;
}
#head .headMain .nav {
  float: right;
  margin-top: 50px;
}
#head .headMain .nav li {
  position: relative;
  float: left;
  margin-left: 40px;
  font-weight: 700;
}
#head .headMain .nav li .up {
  position: absolute;
  color: #009fe3;
  width: 0;
  overflow: hidden;
  transition: 1s width;
}
#head .headMain .nav li:hover .up {
  width: 100%;
}
#head .headMain .arrow {
  position: absolute;
  width: 21px;
  height: 11px;
  left: 50%;
  bottom: -11px;
  background: url(../img/menuIndicator.png);
  transition: 1s left;
  z-index: 9999;
}
#content {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#content .page-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 1s top;
}
#content .page-list li {
  position: relative;
}
#content .page-list li div {
  position: absolute;
  width: 1100px;
  height: 520px;
  background: #c0c0c0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#content .page-list li.home {
  background: url(../img/bg1.jpg) no-repeat;
  background-size: cover;
}
#content .page-list li.course {
  background: url(../img/bg2.jpg) no-repeat;
  background-size: cover;
}
#content .page-list li.works {
  background: url(../img/bg3.jpg) no-repeat;
  background-size: cover;
}
#content .page-list li.about {
  background: url(../img/bg4.jpg) no-repeat;
  background-size: cover;
}
#content .page-list li.team {
  background: url(../img/bg5.jpg) no-repeat;
  background-size: cover;
}
